# Ignore Python Bytecode Caching:
*.py[cod]
__pycache__/

# Ignore linter cache:
.mypy_cache/

# Ignore tester cache:
.pytest_cache/

# Ignore (unsupported) editor settings:
.idea/

# Ignore OS Files:
.DS_Store

# Testing Scripts:
node_modules/

# By default, ignore all logging & caching directories:
# To override this for a particular file (e.g. an important FM log or mission
# cache), use `git add -f`
packet_prints/
pcap_logs/
transceiver_logs/
raw-console-logs/
DataStandardsCache/
# And ignore anything else in `out` (unless its explicitly added later via
# `git add -f`):
out/

# Ignore any notebooks in root
# (bad behavior - these should go in scripts/notebooks now):
/*.ipynb

# Ignore notebook checkpoints:
.ipynb_checkpoints/