mypy
typing_extensions>=4.0.0
typeguard
ipykernel
scapy
python-pcapng
numpy
matplotlib
seaborn
pandas
tabulate
styleframe
pynput
multi-await
plotly
dash
panel
holoviews
hvplot
datashader
lxml
pytest
requests
yamcs-client<=1.6.3
jsonpickle
termcolor
colorama
verboselogs
coloredlogs
ulid-py
pyserial
pyserial-asyncio
ipykernel
bitstruct
pyzmq
attrs
argparse
streamz
pybgapi==1.2.0
