mypy
ipykernel
scapy
python-pcapng
numpy
matplotlib
seaborn
pandas
plotly
dash
lxml
pytest
requests
yamcs-client<=1.4.6
jsonpickle
termcolor
colorama
verboselogs
coloredlogs
ulid-py
pyserial
ipykernel