mypy
ipykernel
scapy
python-pcapng
numpy
matplotlib
seaborn
pandas
plotly
dash
lxml
pytest
requests
jsonpickle
termcolor
colorama
verboselogs
coloredlogs
ulid-py
pyserial
ipykernel