/*
 * SCSS partial for allowing easy and consistent standardization of colors
 * across the application.
 *
 * Author: Connor W. Colombo, CMU
 * Created: 2/4/2019
 * Last Updated: 10/5/2019, Colombo
 */

/* NB: If you need a slightly modified color, use scss tint(), darken(), etc. */

// LOGO & BRANDING:
$color-iris-red: #FF3D00;
$color-brand: $color-iris-red;

// Palette:
$color-primary: #8A6DFF;
$color-nominal: #21DF9A;
$color-caution: #FFD039;
$color-danger: #FF2F46;

// Grayscale:
$color-grey0: #FCFCFC;
$color-grey1: #E9E9E9;
$color-grey2: #9F9F9F;
$color-grey3: #585858;
$color-grey4: #424242;
$color-grey5: #2A2A2A;
$color-grey6: #222222;

$color-near-white: $color-grey0;
$color-grey-light: $color-grey1;
$color-grey: $color-grey2;
$color-grey-dark: $color-grey3;
$color-near-black: $color-grey6;

// Common Feature Colors:
$color-background: $color-grey5;

// Shared with node through sass-loader:
:export {
  colorbackground: $color-background;
}
