@import '@/styles/_colors.scss';

.context {
  &__option {
    padding: 1rem 1.5rem;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--icon {
      stroke: $color-near-white;
      transform: scale(.8);
      margin-left: 1rem;
    }

    &:hover {
      background-color: $color-primary;
    }
  }

  &__divider {
    border: .5px solid $color-background;
  }
}

#context {
  background: $color-grey-dark;
  display: block;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 99999;
  border: none;
  width: auto;
  min-width: 15rem;
  box-shadow: none;
  border-radius: 1rem;
  overflow: hidden;

  &:focus {
    outline: none;
  }
}
