/*
 * SCSS partial for scss functionality which is used across multiple components.
 *
 * Author: Connor W. Colombo, CMU
 * Created: 2/15/2019
 * Last Updated: 2/15/2019, Colombo
 */
@import '@/styles/_colors.scss';
@import '@/styles/_context.scss';
@import '@/styles/_typography.scss';
@import '@/styles/_inputs.scss';
@import '@/styles/_modal.scss';

@import "~tooltipster/dist/css/tooltipster.bundle.min.css";
@import "~tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css";

.selectable-vector {
	cursor: pointer;
	stroke: $color-grey-dark;
	transition: .1s ease-in-out;
	fill: $color-background;

	&.highlighted, &:hover {
		stroke: $color-grey-light;
	}
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-borderless-customized .tooltipster-box {
	background: $color-grey;
	border-radius: 10px;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-borderless-customized .tooltipster-content {
  font-family: Barlow;
  font-weight: 400;
  font-size: 1.2rem;
}

.scrollable{
  overflow: auto;

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px fade-out($color-grey-dark, 0.85);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-grey-dark;
  }
}
