/*
 * SCSS partial for the toggle-able dropdown components across Map components.
 *
 * Author: Caitlin Coyiuto, CMU
 * Created: 1/20/2020
 * Last Updated: 1/20/2020, Coyiuto
 */

 .mapTab {
  padding: 1.5rem 2rem;

  &__header {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  &__icon {
    stroke: $color-grey-light;
    width: 14px;
    height: 14px;
    transform: rotate(-90deg);
    transition: .1s ease-in-out;
  }

  &__title {
    margin-left: 1rem;
  }
}

.open {
  transform: rotate(0deg);
}