/*
 * SCSS partial for tag and image pills on POI cards and related cimponents.
 *
 * Author: Caitlin Coyiuto, CMU
 * Created: 1/20/2020
 * Last Updated: 1/20/2020, Coyiuto
 */

.pill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px 4px 10px;
  border: 1px solid #585858;
  border-radius: 20px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

  &__tag {
    @extend .pill;
    justify-content: center;
    width: 8rem;
  }

  &__tag--edit {
    @extend .pill;
    width: 10rem;
  }

  &__image {
    @extend .pill;
    width: 11rem;
  }
}