.text {
  &__compHeader {
    font-weight: 400;
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__main {
    font-weight: 400;
    font-size: 1.4rem;

    &--bold {
      font-weight: 600;
      font-size: 1.4rem;
    }
  }

  &__smallCaps {
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: uppercase;

    &--bold {
      font-weight: 600;
      font-size: 1.3rem;
      text-transform: uppercase;
    }
  }

  &__small {
    font-weight: 400;
    font-size: 1.2rem;
  }

  &__large {
    font-weight: 600;
    font-size: 2rem;
  }
}