<?xml version="1.0" encoding="UTF-8"?>
<?oxygen RNGSchema="file:../xml/ISF_Component_Schema.rnc" type="compact"?>

<!--====================================================================== 

  Svc
  SequenceFileLoader
  Events

======================================================================-->

<events>
  <event
    id="0"
    name="Rate_CounterLevelReached"
    severity="ACTIVITY_LO"
    format_string="Counted %d cycles">
      <comment>Prints cycle count</comment>
      <args>
      <arg
        type="U32"
        name="Count">
      </arg>
      </args>
  </event>
</events>
