aiotk==0.5.0
amqp==5.1.1
ansi2html==1.8.0
appnope==0.1.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.1
backcall==0.2.0
billiard==3.6.4.0
bitstruct==8.17.0
bleach==6.0.0
blosc2==2.0.0
bokeh==2.4.3
build==0.10.0
CacheControl==0.12.11
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
CharPyLS==1.0.3
charset-normalizer==3.0.1
cleo==2.0.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpickle==2.2.1
colorama==0.4.6
colorcet==3.0.1
coloredlogs==15.0.1
colour==0.1.5
comm==0.1.4
contextlib2==21.6.0
contourpy==1.0.7
coverage==7.2.1
crashtest==0.4.1
cryptography==40.0.2
cycler==0.11.0
Cython==0.29.33
dash==2.8.1
dash-bootstrap-components==1.4.1
dash-bootstrap-templates==1.0.8
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2023.3.0
datashader==0.14.4
datashape==0.5.2
debugpy==1.6.6
decorator==5.1.1
dill==0.3.6
diskcache==5.6.1
distlib==0.3.6
dulwich==0.21.5
et-xmlfile==1.1.0
exceptiongroup==1.1.0
executing==1.2.0
fastlz==0.0.2
filelock==3.12.0
Flask==2.2.3
fonttools==4.38.0
fsspec==2023.1.0
graphviz==0.20.1
HeapDict==1.0.1
Heatshrink==0.3.2
heatshrink2==0.12.0
heatshrinkpy==0.11.1
hiredis==2.2.3
holoviews==1.15.4
html5lib==1.1
humanfriendly==10.0
hvplot==0.8.2
idna==3.4
imageio==2.31.6
importlib-metadata==6.6.0
iniconfig==2.0.0
installer==0.7.0
ipykernel==6.21.2
ipympl==0.9.3
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
itsdangerous==2.1.2
jaraco.classes==3.2.3
jedi==0.17.2
Jinja2==3.1.2
jsonpickle==3.0.1
jsonschema==4.17.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyterlab-widgets==3.0.9
keyring==23.13.1
kiwisolver==1.4.4
kombu==5.2.4
lazy_loader==0.3
llvmlite==0.39.1
locket==1.0.0
lockfile==0.12.2
lxml==4.9.2
lz4==4.3.2
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.7.0
matplotlib-inline==0.1.6
more-itertools==9.1.0
msgpack==1.0.4
multi-await==1.0.4
multipledispatch==0.6.0
multiprocess==0.70.14
mypy==1.0.1
mypy-extensions==1.0.0
nest-asyncio==1.5.6
networkx==3.2.1
numba==0.56.4
numexpr==2.8.4
numpy==1.23.5
objgraph==3.5.0
opencv-python==4.7.0.72
openpyxl==3.1.1
packaging==23.0
pandas==1.5.3
panel==0.14.3
param==1.12.3
parso==0.7.1
partd==1.3.0
pdoc3==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pkginfo==1.9.6
platformdirs==3.5.1
plotly==5.13.1
pluggy==1.0.0
poetry==1.5.0
poetry-core==1.6.0
poetry-plugin-export==1.3.1
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==12.0.0
pybgapi==1.2.0
pycodestyle==2.10.0
pycparser==2.21
pyct==0.5.0
Pygments==2.14.0
pyls-mypy==0.1.8
pynput==1.7.6
pyobjc-core==9.0.1
pyobjc-framework-ApplicationServices==9.0.1
pyobjc-framework-Cocoa==9.0.1
pyobjc-framework-Quartz==9.0.1
pyparsing==3.0.9
pyproject_hooks==1.0.0
pyrsistent==0.19.3
pyserial==3.5
pyserial-asyncio==0.6
pytest==7.2.1
pytest-asyncio==0.20.3
pytest-cov==4.0.0
python-dateutil==2.8.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-pcapng==2.1.1
pytz==2022.7.1
pyviz-comms==2.2.1
PyYAML==6.0
pyzmq==25.0.0
rapidfuzz==2.15.1
redis==4.5.5
requests==2.28.2
requests-toolbelt==1.0.0
scapy==2.5.0
schema==0.7.5
scikit-image==0.22.0
scipy==1.10.1
seaborn==0.12.2
shellingham==1.5.0.post1
six==1.16.0
stack-data==0.6.2
streamz==0.6.4
styleframe==4.1
tables==3.8.0
tabulate==0.9.0
tenacity==8.2.2
termcolor==2.2.0
tifffile==2023.9.26
tomli==2.0.1
tomlkit==0.11.8
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
trove-classifiers==2023.5.24
typeguard==2.13.3
types-pyOpenSSL==23.1.0.3
types-python-dateutil==2.8.19.13
types-PyYAML==6.0.12.8
types-redis==4.5.5.2
typing-inspect==0.8.0
typing_extensions==4.5.0
ujson==5.7.0
ulid-py==1.1.0
urllib3==1.26.14
verboselogs==1.7
vine==5.0.0
virtualenv==20.23.0
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
widgetsnbextension==4.0.9
xarray==2023.2.0
xattr==0.10.1
XlsxWriter==3.0.8
yamcs-client==1.7.5
zict==2.2.0
zipp==3.15.0
