### pip requirements for the backend. ###
### Install by calling: `python3 -m pip install --user -r requirements.txt`
###
### N.B. If using a Mac and having connection authentications issues (such as an
### error indicating "[SSL: CERTIFICATE_VERIFY_FAILED]"), this is possibly due
### to Apple using outdated SSL certificates. Python can be made to use more
### updated ones from certifi by executing the script found at:
### `/Applications/Python <WHATEVER VERSION>/Install Certificates.command`
###
pymongo >= 3.8.0
dnspython >= 1.16.0
gitpython
yamcs-python
