<events>
	<event id="0x00" name="MC_LedChangedState" severity="DIAGNOSTIC" format_string="Led is %s">
    <comment>This diagnostic event indicates the status of the led</comment>
    <args>
      <arg name="ledState" type="string" size="5">
        <comment>The led state</comment>
      </arg>
    </args>
  </event>
</events>